/*=== COMMON STYLES ===*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.color-span-black {
  color: #2e2f42;
}

.container {
  max-width: 288px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ===HEADER=== */
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.container-page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
}

.menu-list {
  display: none;
}
.address-info {
  display: none;
}
.mobile-open-button {
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2f2f37;
}

/* <-- ===MOBILE MENU==== --> */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #2e2f42;
  z-index: 999999;
}

.mobile-menu-container {
  position: relative;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 8px;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2f2f37;
}

.mobile-menu-nav {
  padding-top: 72px;
  padding-right: 153px;
}

.address-info-mobile-menu {
  margin-top: 168px;
}
/* ===HERO=== 1*/
.hero-section {
  background: #2e2f42;
  max-width: 320px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/mobile-people-office@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/mobile-people-office@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-people-office@1x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-people-office@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/descktop/people-office1@1x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/descktop/people-office1@2x.jpg);
  }
}
